[submodule "client-draw"]
	path = client-draw
	url = https://github.com/Mayank-MP05/Draw-Messenger-v2-Frontend.git
[submodule "server-draw"]
	path = server-draw
	url = https://github.com/Mayank-MP05/Draw-Messenger-v2-Backend.git
